{% extends 'base.html.twig' %}
{% block title %}
	{{ app.user.username }}
{% endblock %}
{% block stylesheets %}
	<link type="text/css" rel="stylesheet" href="css/photos.css">
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row px-2 px-lg-3 m-0">
			<div class="col-lg-12 p-2 p-lg-4">
				<div class="bg-white shadow p-4 p-lg-5">
					<div class="row pb-lg-4">
						<div class="col-9">
							<h3>{{ app.user.username }}</h3>
						</div>
						<div class="col-3"></div>
					</div>
					<div class="information-field pb-lg-4 pt-lg-4">
						<div class="profile-header-img pb-4">
							<img class="rounded-sm" style="width:15%;" src="{{ asset('img/profile.png') }}">
						</div>
					</div>
					<div class="row">
						<div class="col information-field pb-lg-2">
							<p>Name:</p>
							<p>Age:</p>
							<p>Email:</p>
							<p>Role:</p>
						</div>
						<div class="col information-field pb-lg-2">
							{{ form_start(form) }}
							<div class="col-md-12">
								<div class="form-group">
									<label class="medium mb-1" for="registration_form_username">Name</label>
									{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="medium mb-1" for="registration_form_age">Age</label>
									{{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}</div>
							</div>
							<div class="form-group col-md-10">
								<button class="btn text-white main-color">submit</button>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 p-2 p-lg-4">
				<div class="bg-white shadow p-4 p-lg-5">
					<div class="pb-lg-5">
						<h3>Foto's</h3>
					</div>
					{% if user.fotos is not empty %}
						<div class="text-center row">
							{% for fotos in user.fotos %}
								<div class="col-lg-4 p-2">
									<div class="hovereffect">
										<a href="{{ path('actual_photo', {id: fotos.id, slug: fotos.titel}) }}">
											<img class="img-responsive" src="{{ asset('img/uploaded/' ~ fotos.fileurl) }}">
											<div class="overlay">
												<h2>{{ fotos.titel }}</h2>
											</div>
										</a>
									</div>
								</div>
							{% endfor %}
						</div>
					{% else %}
						<form action="/photos/new">
							<p>You don't have any photos uploaded.</p>
							<a href="/photos/new" class="btn text-white main-color">Upload now!</a>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
