{% extends 'admin/route.html.twig' %}
{% block body %}
	<div class="card mb-4">
		<div class="card-header">
			<i class="fas fa-table mr-1"></i>Active Users</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th scope="col">User ID</th>
							<th scope="col">Username</th>
							<th scope="col">Email</th>
							<th scope="col">Role</th>
							<th scope="col">Date of birth</th>
							<th scope="col">Promote</th>
							<th scope="col">Demote</th>
							<th scope="col">Activity status</th>
						</tr>
					</thead>
					<tbody>
						{% for user in user %}
							{% if user.active == true %}
								<tr>
									<th scope="row">{{user.getId}}</th>
									<td>{{user.getUsername}}</td>
									<td>{{user.getEmail}}</td>
									<td>{{user.getRoles[0]}}</td>
									<td>{{user.getAge|date('d-M-Y')}}</td>
									<td>
										{% if user.getRoles[0] == 'ROLE_USER' %}
											<a href="{{ path('user_promote', {'id' : user.id}) }}">
												<i class="fas fa-user-plus"></i>
											</a>
										{% else %}
											<i class="fas fa-user-plus"></i>
										{% endif %}
									</td>
									<td>
										{% if user.getRoles[0] == 'ROLE_AUTHOR' %}
											<a href="{{ path('user_demote', {'id' : user.id}) }}">
												<i class="fas fa-user-plus"></i>
											</a>
										{% else %}
											<i class="fas fa-user-plus"></i>
										{% endif %}
									</td>
									<td>
										<a href="{{ path('user_deactivate', {'id': user.id}) }}">
											<i class="fas fa-user-times"></i>
										</a>
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{# inactive #}
	<div class="card mb-4">
		<div class="card-header">
			<i class="fas fa-table mr-1"></i>Inactive Users</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th scope="col">User ID</th>
							<th scope="col">Username</th>
							<th scope="col">Email</th>
							<th scope="col">Role</th>
							<th scope="col">Date of birth</th>
							<th scope="col">Promote</th>
							<th scope="col">Demote</th>
							<th scope="col">Activity status</th>
						</tr>
					</thead>
					<tbody>
						{% for user in user %}
							{% if user.active == false %}
								<tr>
									<th scope="row">{{user.getId}}</th>
									<td>{{user.getUsername}}</td>
									<td>{{user.getEmail}}</td>
									<td>{{user.getRoles[0]}}</td>
									<td>{{user.getAge|date('d-M-Y')}}</td>
									<td>
										{% if user.getRoles[0] == 'ROLE_USER' %}
											<a href="{{ path('user_promote', {'id' : user.id}) }}">
												<i class="fas fa-user-plus"></i>
											</a>
										{% else %}
											<i class="fas fa-user-plus"></i>
										{% endif %}
									</td>
									<td>
										{% if user.getRoles[0] == 'ROLE_AUTHOR' %}
											<a href="{{ path('user_demote', {'id' : user.id}) }}">
												<i class="fas fa-user-plus"></i>
											</a>
										{% else %}
											<i class="fas fa-user-plus"></i>
										{% endif %}
									</td>
									<td>
										<a href="{{ path('user_activate', {'id': user.id}) }}">
											<i class="fas fa-user-plus"></i>
										</a>
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>
{% endblock %}
