{% extends 'base.html.twig' %}

{% block title %}Upload a photo
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="d-flex justify-content-center mt-30 mb-30">Upload a photo to the site</h1>
		{{form_start(form)}}
		<div class="form-group">
			<label for="photo_upload_title">Title</label>
			{{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Choose a title'}}) }}
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="photo_upload_category">Category</label>
				{{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group col-md-6">
				<label for="photo_upload_fileurl">Photo to upload</label>
				{{ form_widget(form.fileurl, {'attr': {'class': 'form-control-file'}}) }}
			</div>
		</div>
		<div class="form-group">
			<label for="photo_upload_descriptio">Description</label>
			{{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 4, 'placeholder': 'Tell us something about the picture'}}) }}
		</div>
		<button class="btn text-white main-color">Submit</button>
		{{form_end(form)}}
	</div>
{% endblock %}
